extends layout

block head
  link(rel="stylesheet" type="text/css" href="index.css")
  title GameOfLifeJS

block content
  div
    canvas#c(width=640 height=640)
  div.button-container
    a
      div.button#evolve Evolve
    a
      div.button#reset Reset
    a
      div.button#auto Auto-evolve



  //- JAVASCRIPT STARTS HERE
  script.
    navigator.vibrate = navigator.vibrate ||
                        navigator.webkitVibrate ||
                        navigator.mozVibrate ||
                        navigator.msVibrate;

    var cv = document.getElementById('c');
    var c = cv.getContext("2d");

    var grid = new Array(64);
    for (var i = 0; i < 64; i++) {
      grid[i] = new Array(64);
    }

    var draw = function() {
      c.fillStyle = "#FFFFFF";
      c.fillRect(0, 0, 640, 640);
      c.fillStyle = "#000000";
      for (var i = 0; i < 64; i++) {
        c.fillRect(i*10, 0, 1, 640);
        c.fillRect(0, i*10, 640, 1);
      }

      for (var x = 0; x < 64; x++) {
        for (var y = 0; y < 64; y++) {
          if (grid[x][y]) {
            c.fillRect(x*10, y*10, 10, 10);
          }
        }
      }
    }

    draw();

    function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
          x: Math.floor((evt.clientX - rect.left)/10),
          y: Math.floor((evt.clientY - rect.top)/10)
        };
    }

    var m = {x:0, y:0};
    var mouse_down = false;
    var fill = false;

    $("canvas").mousedown(function(e) {
      m = getMousePos(cv, e);
      mouse_down = true;

      if (grid[m.x][m.y]) {
        fill = false;
      } else {
        fill = true;
      }

      socket.emit("toggle", m);
      draw();
    });

    $("canvas").mouseup(function(e) {
      mouse_down = false;
    });


    $("canvas").mousemove(function(e) {
      if (!mouse_down) {
        return;
      }

      m = getMousePos(cv, e);

      if (fill) {
        if (!grid[m.x][m.y]) {
          grid[m.x][m.y] = true;
          socket.emit("toggle", m);
          draw();
        }
      } else if (!fill) {
        if (grid[m.x][m.y]) {
          grid[m.x][m.y] = false;
          socket.emit("toggle", m);
          draw();
        }
      }
    });

    $("canvas").bind("touchstart", function(e) {
      m = getMousePos(cv, e);
      mouse_down = true;

      if (grid[m.x][m.y]) {
        fill = false;
      } else {
        fill = true;
      }

      socket.emit("toggle", m);
      draw();
    });

    $("canvas").bind("touchend", function (e) {
      mouse_down = false;
    });

    $("canvas").bind("touchmove", function(e) {
      if (!mouse_down) {
        return;
      }

      m = getMousePos(cv, e);

      if (fill) {
        if (!grid[m.x][m.y]) {
          grid[m.x][m.y] = true;
          socket.emit("toggle", m);
          draw();
        }
      } else if (!fill) {
        if (grid[m.x][m.y]) {
          grid[m.x][m.y] = false;
          socket.emit("toggle", m);
          draw();
        }
      }
    });


    $(".button").mousedown(function(e) {
      navigator.vibrate(10);
    });

    $("#evolve").click(function(e) {
      socket.emit("update");
    });

    $("#reset").click(function(e) {
      if (window.confirm("Are you sure you want to reset?"))
        socket.emit("reset");
    });

    $("#auto").click(function(e) {
      socket.emit("auto");
    });

    socket.on("toggle", function(coord) {
      grid[coord.x][coord.y] = !grid[coord.x][coord.y];
      draw();
    });

    socket.on("update", function(board) {
      grid = board;
      draw();
    });

    socket.on("auto", function(is_auto) {
      console.log("auto");
      if (is_auto) {
        $("#auto").css({"background-color": "#000000"});
      } else {
        $("#auto").css({"background-color": "#333333"});
      }
    });