doctype html5
html
  head
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
    link(rel="stylesheet" type="text/css" href="layout.css")
    
    script(src="/socket.io/socket.io.js")
    script var socket = io();
    
    link(href='bootstrap-slate.css' rel='stylesheet' type='text/css')

    block head


  body
    block content

