canvas {
  background-color: #fff;
}
.button-container {
  margin-top: 50;
}
.button {
  margin: 10 170 10 170;
  width: 300;
  font-size: 48px;
  text-align: center;
  background-color: #333;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  transition: background-color 0.5s;
  cursor: default;
}
.button:hover {
  background-color: #000 !important;
}
a:hover {
  text-decoration: none;
}
