* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  width: 640px;
  margin: 0 auto;
}
canvas {
  background-color: #fff;
}
.button-container {
  margin-top: 32;
}
.button {
  margin: 10 170 10 170;
  width: 300;
  font-size: 48px;
  text-align: center;
  background-color: #333;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: default;
}
.button:hover {
  background-color: #333;
}
.button:active {
  background-color: #000;
}
.button:focus {
  background-color: #333;
}
a:hover {
  text-decoration: none;
}
