@import nib

*
	user-select none

body
	width 640px
	margin 0 auto

canvas
	background-color white
	
.button-container
	margin-top 32

.button
	margin 10 80 10 80
	width 480
	font-size 48px
	text-align center
	background-color #333333
	transition background-color 0.3s
	cursor default

.button:hover
	background-color #333333
	
.button:active
	background-color #000000

.button:focus
	background-color #333333

a:hover
	text-decoration none