@import nib
	
body
	width 640px
	margin 0 auto

canvas
	background-color white
	
.button-container
	margin-top 32

.button
	margin 10 170 10 170
	width 300
	font-size 48px
	text-align center
	background-color #333333
	transition background-color 0.5s
	cursor default

.button:hover
	background-color #000000
	
.button:active
	background-color #333333

.button:focus
	background-color #333333

a:hover
	text-decoration none